body { margin: 0;
    background-color: blueviolet;
    color: chocolate;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
header div.encabezado{ border: 3px solid black ; display: block; text-align: center;}
header nav{

    border: 1px solid black;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    margin: 2%;
    background-color: deeppink;
   
}
header nav  p{ color: black ; text-align: center;}
header nav ul{margin: 3%; display: flex; border: 2px solid white ; padding: 2%;}
header nav ul li{
    width: 100%;
    flex-wrap: nowrap;
    color: black;


}

header div {
    display: inline-block;
    align-content: center;
    background-color: rgb(63, 20, 220);
    font-size: large
}


header span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(229, 255, 0);
}
section{
    
    margin: 15%;
    
}
section h2{
    text-align: center;
    text-decoration: underline;
    color: black
}
section li{
    display: flex;
    
}
;